head, body {
    height: 100%;
    background: green;    
    margin: 0;
    padding: 0;
}

#d {
    position: absolute;
    right: 0px;
    bottom: 0px;
    text-align: right;
}

#txt {
    background: red;
    padding: 3px;
    position:relative;
    bottom: 3px;
}

#b {
    background: purple;
    border-color: red;
    border-width: thin;
    border-style: solid;
    height: 300px;
    width: 200px;
}
