
@font-face {
    font-family: LiquidCrystal;
    src: url("fonts/LiquidCrystal-Normal.otf") format("opentype");    
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    background: black;
}
#c {
    height: 100%;
    width: 100%;
}

#invisibleCanvas {
    max-width: 50%;
    max-height: 100%;
    margin: 0;
    padding:0;
    display: block;
    margin-left: auto;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 0px;
}

#container {
    height: 100%;
    width: 50%;
}

#cont {
    text-align: right;
}

#TS_cont {
    color: white;
    position: absolute;
    padding: 0.3em;
    margin: auto;
    top: 1em;
    left: 0;
    width: 50%;
    text-align: center;
    line-height: 3em;
    font-family: sans-serif;
}

#TS {
    margin-top: 1em;
    font-family: LiquidCrystal;
    font-size: 3em;
}

aside {
    position: absolute;
    left: 0px;
    top: 0px;    
}
aside > label {
    background: #6b75ff;
    display:block;
    color: white;
    border: none;
    padding: 1em;
    cursor: pointer;
}

aside > input {
    width: 100%;
}

.controls {display: none;}
.controls > * {
    display: block;    
    width: 100%;
}

.coordinate_input {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    > input {
        flex-grow: 1;
        min-width:1px;
    }
    > div {
        margin-right: 0.5em;    
        padding-top:0.3em;
    }
    > div:not(:first-child){
        margin-left: 0.5em;
    }
} 


