/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000; 
}

h1 {
  font-style: italic;
  color: #373fff;
}
